body {
    background-image: url("https://images6.alphacoders.com/597/thumb-1920-597942.jpg");
}

h1,h3,p {
    text-align: center;
    color: white;
    font-family: 'Acme', sans-serif;
}

#scatterplot-stats {
    text-align: center;
}

.axis {
    fill: none;
    stroke: brown;
}

.aixs text{
    fill: black;
}
.circle {
    stroke: brown;
}

.cyclist circle:hover {
    cursor: pointer;
}

.tooltip {
    position: absolute;
    padding: 5px;
    box-sizing: border-box;
    background-color:pink;
    color: black;
}